Android Open Source Project/
Atom/
Bitwarden/
bpytop/
BraveSoftware/
cef_user_data/
chromium/
Code/
configstore/
dconf/
Electron/
flameshot/
flutter/
gedit/
ghb/
Google/
google-chrome/
googlekeep-nativefier-d04d04/
gtk-2.0/
gtk-3.0/
htop/
instaloader/
@joplin/
joplin-desktop/
lutris/
menus/
mpv/
nemo/
nitrogen/
nordvpn/
obs-studio/
procps/
qBittorrent
subtitleeditor/
sxhkdrc/
VeraCrypt/
vlc/

